class Configuration
  attr_accessor :emails, :game_id, :url, :email

  def initialize
    @game_id = 123456
    @url = "http://www.boiteajeux.net/jeux/agr/partie.php?id=#{@game_id}"
    @emails = {
      :me => 'me@email.com',
      :you => 'you@email.com'
    }
    @email = {
      :enabled => true,
      :smtp => 'smtp.email.com',
      :server => 'email.com',
      :user => 'agricola_pusher',
      :pass => 'password',
      :from => 'agricola_pusher@email.com'
    }
  end
end

